.FourCardFeature {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.75rem;
}

.TextSection {
  width: 100%;
  max-width: clamp(316px, 80vw, 540px);
  display: flex;
  flex-direction: column;
  gap: var(--size-200);
}

.ToggleBtn {
  font-family: var(--font-family);
  font-size: 1rem;
  width: 160px;
  align-self: center;
  padding-block: 8px;
  background-color: hsl(212, 58%, 79%);
  border: 1px solid white;
  border-radius: 4px;
}

.ToggleBtn:hover {
  background-color: hsl(213, 43%, 81%);
  border: 1px solid hsl(212, 55%, 43%);
}

.ToggleBtn:active {
  background-color: hsl(214, 30%, 45%);
  border: 1px solid hsl(218, 56%, 85%);
  color: hsl(218, 56%, 85%);
}

.TextSection h2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TextSection p {
  text-align: center;
}

.LightTitle,
.BoldTitle {
  color: var(--color-grey-500);
}

.CardGroupFlex,
.CardPairFlex {
  display: flex;
  flex-direction: column;
  gap: var(--size-400);
  justify-content: center;
  align-items: center;
}

.CardGroupGrid,
.CardPairGrid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--size-400);
}

@media (min-width: 768px) {
  .FourCardFeature {
    gap: 74px;
  }

  .TextSection {
    max-width: 540px;
  }

  .CardPairFlex {
    flex-direction: row;
  }

  .CardGroupGrid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      ". top ."
      "leftpair leftpair leftpair"
      ". bottom .";
  }

  .CardGroupGrid > :nth-child(1) {
    grid-area: top;
  }

  .CardGroupGrid > :nth-child(2) {
    grid-area: leftpair;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--size-400);
    justify-content: center;
  }

  .CardGroupGrid > :nth-child(2) > :nth-child(1) {
    justify-self: end;
  }

  .CardGroupGrid > :nth-child(3) {
    grid-area: bottom;
  }
}

@media (min-width: 1440px) {
  .CardGroupFlex {
    flex-direction: row;
  }

  .CardPairFlex {
    flex-direction: column;
  }

  .CardGroupGrid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 16px repeat(4, 125px) 16px;
    column-gap: var(--size-400);
    row-gap: 0;
    grid-template-areas: none;
  }

  .CardGroupGrid > :nth-child(1) {
    grid-column: 1;
    grid-row: 3 /5;
  }

  .CardGroupGrid > :nth-child(2) {
    grid-column: 2;
    grid-row: 1 / 7;
    display: flex;
    gap: 2rem;
    flex-direction: column;
  }

  .CardGroupGrid > :nth-child(3) {
    grid-column: 3;
    grid-row: 3 /5;
  }
}
